<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Feed</h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @feed.title %></h6>
    <p class="card-text"><%= @feed.description %></p>
    <% if current_user.id == @feed.user_id %>
      <%= link_to 'Edit', edit_feed_path(@feed), class: "card-link"%>
      <%= link_to 'Delete', feed_path(@feed), method: :delete, class: "card-link"%>
    <%end%>
  </div>
</div>