<div class="sidenav">
  <a href="#">Friend List</a>
  <a href="/contacts/gmail">Invite Friend's</a>
</div>

<% if @contacts.count != 0 %>
  <%= render partial: "invited", locals: {contacts: @contacts}%>
<%end%>