<ul class="list-group col-md-6">
  <% @users.each_with_index do |user, index|%>
    <li class="list-group-item"><%= user.email%><% if @status[index] == "received" %><%= button_to 'Accept', accept_user_path(user), method: :patch, style: "margin-left: 498px;",class:"btn btn-success"%><%end%><%= button_to 'Cancel', cancel_request_path(user), method: :delete, class: "btn btn-danger", style: "margin-left: 500px" %></li>
  <%end%>
</ul>