<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="col-md-12">
  <%= form_with url: search_user_path, method: :get do |f|%>
    <div class="ui-widget col-md-8 form-group">
      <%= f.text_field :email, id: "search-field", class: "form-control", autocomplete: "off" %>
    </div>
    <div class="col-md-4 form-group">
      <%= f.submit :search, class: "btn btn-primary" %>
    </div>
    <div id="auto-complete-data">
    </div>
  <%end%>
</div>

  <div id="search-result">
  </div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#search-field" ).autocomplete({
      source: function( request, response ) {
        $.ajax( {
          url: "search_user",
          dataType: "json",
          data: {
            search: request.term
          },
          success: function( data ) {
            var emails = []
            newData = data
            $.each(data, function( index, value ) {
              emails.push(value.email)
            });
            response( emails );
          }
        } );
      },

      minLength: 1,
      select: function( event, ui ) {
        var item = "<div class='card col-md-6'>"
        + "<div class='card-body'>" + ui.item.value + "<a href='/users/view_profile?email="+ui.item.value+"' class='btn btn-primary view-profile' style='margin-left: 200px;'>" + "View Profile" + "</a>" +  "</div>"
        + "</div>"
        $("#search-result").html(item);
      }
    });

    $(".cancel-request").click(function(){
      var id = this.id
      $.ajax({
        type: "Delete",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        url: "cancel_request",
        data: {user_id: id},
      })
    })

  })


</script>