<% if sent_invitations %>
  <ul class="list-group col-md-6">
    <% sent_invitations.each do |sent_invitation|%>
      <li class="list-group-item">
        <%= sent_invitation.email %>
        <%= link_to 'View Profile', view_profile_users_path(email: sent_invitation.email), class: "btn btn-primary", style: "margin-left: 290px;"%>
      </li>
    <%end%>
  </ul>
<%end%>

<% if received_invitations %>
  <ul class="list-group col-md-6">
    <% received_invitations.each do |received_invitation|%>
      <li class="list-group-item">
        <%= received_invitation.email %>
        <%= link_to 'View Profile', view_profile_users_path(email: received_invitation.email), class: "btn btn-primary", style: "margin-left: 290px;"%>
      </li>
    <%end%>
  </ul>
<%end%>